<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SUBTLE behavior framework</title>
        
        <!-- CSS -->
        <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/cover.css">
        <link rel="stylesheet" href="static/css/subtle_style.css">
    </head>
    <body class="h-100 text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <!-- Top panel -->
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0"> <a style="text-decoration: none;" href="/subtle">SUBTLE behavior framework</a></h3>          
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link active" aria-current="page" href="/subtle">Home</a>
                        <div class="nav-link active features_menu">
                            <span>Features</span>
                            <ul class="nav-link active bg-dark features_menu_sub">
                                <li><a class="nav-link" href="/subtle/demo">Demo</a></li>
                                <li><a class="nav-link" href="/subtle/annotator">Annotator</a></li>
                                <li><a class="nav-link inactive" href="">Analysis</a></li>
                            </ul>
                        </div>
                        <a class="nav-link active" href="/subtle/contact">Contact</a>
                    </nav>
                </div>
            </header>
        </div>
        <!-- <main class="px-3 text-center">
            <h3>KSPlayer: Manual behavior annotation</h3>
        </main> -->
        <section id="video_section" class="bg-dark">
            <style>
                #video_section .video_upload_box{
                    width: 50%;
                    float: left;
                    border:1px solid gray;
                    box-shadow: 2px 3px 9px hsl(0, 0%, 47%);
                    padding:10px;
                }
            </style>
            <div class="video_upload_box">
                <button onclick="open_video_file()" style="float: left;">Open video file</button>
                <div id="video_file_name" style="font-size: 20px; float: left;">Demo video file</div>
                <video id="video_player" src="https://raw.githubusercontent.com/spkim8804/subtle_demo/main/demo_video.mp4"></video>
                <div id="annotation_name" style="position: absolute; top: 110px; left: 20px; background-color: red; font-size: 30px;">idle</div>
                <div class="video_slider">
                    <button onclick="play_video()" style="float: left;">▷</button>
                    <input id="video_slider_range" onkeydown="return false;" class="video_slider_range" type="range" min="0" max="12000" style="width: 80%;">
                    <span id="video_slider_value" class="video_slider_value" style="font-size: 1rem">0</span>
                </div>
            </div>
        </section>
        <section id="annotation_section" class="bg-dark">
            <style>
                #annotation_section .annotation_upload_box{
                    width: 45%;
                    height: 35%;
                    float: left;
                    border:1px solid gray;
                    box-shadow: 2px 3px 9px hsl(0, 0%, 47%);
                    padding:10px;
                };                
            </style>
            <div class="annotation_upload_box">
                <button onclick="open_annotation_file()" style="float: left; font-size: 15px;">Open annotation file</button>
                <div id="annotation_file_name" style="font-size: 20px;">Demo annotation file</div>
                <div class="text-center" style="font-size: 20px;">"Drag your annotation file here"</div>
            </div>
            <div class="annotation_upload_box">
                <button onclick="annotation_save()" style="float: left; font-size: 15px;">Save annotation file</button>
                <button onclick="shortcut_keys_popup()" style="float: right; font-size: 15px;">Shortcut keys</button>
                <button onclick="reset_annotation()" style="float: right; font-size: 15px; color: red">Reset annotation</button>
            </div>
            <div class="annotation_upload_box">
                <div class="speed_slider">
                    <a style="font-size: 20px">Video Speed</a>
                    <input class="speed_slider_range" type="range" value="10" min="1" max="20" style="width: 50%">
                    <span class="speed_slider_value"></span>
                    <div>
                        <input type="checkbox" onclick="chkbox(this)" name="chk_box" value="walking" checked="checked">walking(1)
                        <input type="checkbox" onclick="chkbox(this)" name="chk_box" value="rearing">rearing(2)
                        <input type="checkbox" onclick="chkbox(this)" name="chk_box" value="grooming">grooming(3)
                        <input type="checkbox" onclick="chkbox(this)" name="chk_box" value="standing">standing(4)
                        <!-- <input type="checkbox" onclick="chkbox(this)" name="chk_box" value="leaning">leaning(5) -->
                        <!-- <input type="checkbox" onclick="chkbox(this)" name="chk_box" value="turning">turning(6) -->
                        <input type="checkbox" onclick="chkbox(this)" name="chk_box" value="jumping">jumping(5)
                        <input type="checkbox" onclick="chkbox(this)" name="chk_box" value="na">na(6)
                        <div>
                            <input type="checkbox" onclick="annot_filter_box(this)" name="annot_filter" value="annot_filter">View checked annot only
                        </div>
                    </div>
                </div>
            </div>
            <div class="annotation_upload_box">
                <button id="annotation_button" style="float: left; width: 100%; height: 250px; font-size: 40px">walking<br>(Press 'g' or click)</button>
            </div>
        </section>

        <!-- input collection-->
        <input id="video_input" type="file">
        <input id="annotation_input" type="file" accept="csv">
        
        <!-- js cdn collection-->       
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.9/dat.gui.min.js"></script>
        <script async src="https://unpkg.com/mediainfo.js/dist/mediainfo.min.js"></script>
        <script src="static/js/dropdown.js"></script>
        <script src="static/js/videoinfo.js"></script>
        
        <script>
            function create2DArray(rows, columns) {
                var arr = new Array(rows);
                for (var i = 0; i < rows; i++) {
                    arr[i] = new Array(columns);
                }
                return arr;
            }

            // Variables initialization
            var annot = create2DArray(10, 20000);
            var annot2 = new Array();
            var annotation_flag=false;
            var play_status = 1;
            var annot_status = 0;
            var fps = 20;
            var play_speed = 10;
            var chked_annotation = "walking";
            var annot_filter = 0;
            var total_frame = 12009;
            var video_name = "Demo";
            var video_load_complete = 1;

            const annot_button = document.getElementById('annotation_button');
           
            // Video slider setting
            var video_slider = function(){
                var slider = $('.video_slider'),
                    range = $('.video_slider_range'),
                    value = $('.video-slider_value');
                    
                slider.each(function(){
                    value.each(function(){
                        var value = $(this).prev().attr('value');
                        $(this).html(value);
                    });
                    range.on('input', function(){
                        $(this).next(value).html(this.value);
                        video.currentTime = (this.value)/fps;
                    });
                });
            };
            video_slider();

            // Speed slider setting
            var speed_slider = function(){
                var slider = $('.speed_slider'),
                    range = $('.speed_slider_range'),
                    value = $('.speed_slider_value');
                    
                slider.each(function(){
                    value.each(function(){
                        var value = $(this).prev().attr('value');
                        $(this).html(value);
                    });
                    range.on('input', function(){
                        $(this).next(value).html(this.value);
                        play_speed = this.value;
                    });
                });
            };
            speed_slider();

            const checkboxes = document.getElementsByName("chk_box");
            var chkbox = function(e){
                checkboxes.forEach((cb) => { cb.checked = false;})
                e.checked = true;
                chked_annotation = e.value;
                annot_button.innerHTML = e.value+"<br>(Press 'g' or click)";
            }
            var annot_filter_box = function(e){
                annot_filter = e.checked;
            }
            // Text labels
            // Annotation label
            const annotation_name = document.getElementById('annotation_name');
            const video_file_name = document.getElementById('video_file_name');
            const video_slider_range = document.getElementById('video_slider_range');
            
            // Video file input
            var video_section = document.querySelector('#video_section');
            var video_upload_box = video_section.querySelector('.video_upload_box');
            const video = document.getElementById('video_player');
            const dnd_video = document.getElementById('video_input');
            dnd_video.addEventListener("change", function(){ video_load(dnd_video.files[0]); });
            function open_video_file(){ dnd_video.click();} // Open video file button
            //'#343a40'
            video_upload_box.addEventListener('dragenter', function(e) { this.style.backgroundColor = 'white'; });
            video_upload_box.addEventListener('dragleave', function(e) { this.style.backgroundColor = '#232222'; });
            video_upload_box.addEventListener('dragover', function(e) { e.preventDefault(); this.style.backgroundColor = 'white';});
            video_upload_box.addEventListener('drop', function(e) {
                e.preventDefault();
                video_load(e.dataTransfer.files[0]);
                this.style.backgroundColor = '#232222';
            });

            function videoinfo(file){
                const onChangeFile = (mediainfo) => {
                    const getSize = () => file.size;
                    const readChunk = (chunkSize, offset) =>
                        new Promise((resolve, reject) => {
                        const reader = new FileReader()
                            reader.onload = (event) => {
                                if (event.target.error) {
                                    reject(event.target.error)
                                }
                                resolve(new Uint8Array(event.target.result))
                            }
                            reader.readAsArrayBuffer(file.slice(offset, offset + chunkSize))
                        })

                        mediainfo
                        .analyzeData(getSize, readChunk)
                        .then((result) => {
                            // console.log(result['media']['track'][1]['FrameRate']);
                            fps = result['media']['track'][1]['FrameRate'];
                            video_load_complete = 1;
                            init_video();
                        })
                        .catch((error) => {
                        // output.value = `An error occured:\n${error.stack}`
                        })
                }
                MediaInfo(
                    {
                        // format: 'text',
                        format: 'object',
                        locateFile: (path, prefix) => prefix + path, // Make sure WASM file is loaded from CDN location
                    },
                    (mediainfo) => { onChangeFile(mediainfo); }
                )
            }
            function video_load(file){
                if(file['type']=='video/mp4'){ // Check video file or not
                    video_load_complete = 0;
                    const videourl = URL.createObjectURL(file);
                    video.setAttribute("src",videourl);
                    video_file_name.innerHTML = file.name;
                    video_name = file.name;
                    video.load();
                    video.currentTime = 0;
                    videoinfo(file);
                } else{
                    alert("Please upload mp4 file!");
                }
            }
            
            function play_video(){
                if(play_status == 0){ play_status = 1;
                } else{ play_status = 0;}
            }

            function init_video() {
                video.onloadedmetadata = function(e){
                    total_frame = parseInt(video.duration*fps);
                    video_slider_range.max = total_frame;
                    console.log("video fps :" + fps);
                    console.log("video total frames :" + total_frame);
                }
            }
            document.addEventListener("DOMContentLoaded", init_video(), false);

            // Annotation file input
            var annotation_section = document.querySelector('#annotation_section');
            var annotation_upload_box = annotation_section.querySelector('.annotation_upload_box');
            const dnd_annotation = document.getElementById('annotation_input');
            dnd_annotation.addEventListener("change", function(){ annotation_load(dnd_annotation.files[0],false); });
            function open_annotation_file() { dnd_annotation.click();}

            annotation_upload_box.addEventListener('dragenter', function(e) { this.style.backgroundColor = 'white'; });
            annotation_upload_box.addEventListener('dragleave', function(e) { this.style.backgroundColor = '#232222'; });
            annotation_upload_box.addEventListener('dragover', function(e) { e.preventDefault(); this.style.backgroundColor = 'white';});
            annotation_upload_box.addEventListener('drop', function(e) {
                e.preventDefault();
                annotation_load(e.dataTransfer.files[0],false);
                this.style.backgroundColor = '#232222';
            });
            // Annotation file load : Annot only version
            function annotation_load(file, filter){
                if(filter==false && file['type']=='text/csv'){
                    var annot_save_protect = confirm("Do you want to load annotation file?");
                    if(annot_save_protect){
                        let reader = new FileReader();
                        reader.readAsText(file);
                        reader.onload = function () {
                            var input=reader.result;
                            var temp = input.split('\n');
                            var temp2 = temp[0].split(',');
                            if(temp2.length==2){ // Annotation file filter
                                annot2 = input.split(/,|\n/);
                                for(i=0; i<annot2.length; i++) annot2[i] = annot2[i].replace(/\r/g,"");
                                annotation_flag = false;
                                check_file_update();
                                annotation_file_name.innerHTML = file.name;
                            } else{
                                alert("Please upload annotation file!");
                            }
                        }
                    }
                } else if(filter==true){
                    file = file.replace(/\r/g,'');
                    annot2 = file.split(/,|\n/);
                    annotation_flag = false;
                } else{
                    alert("Please upload annotation file!");
                }
            }
            function annotation_update(){
                if(annot_filter){
                    if(annot[1][parseInt(video.currentTime*fps)]==chked_annotation){
                        annotation_name.innerHTML = annot[1][parseInt(video.currentTime*fps)];
                    } else { annotation_name.innerHTML = '';}
                } else { annotation_name.innerHTML = annot[1][parseInt(video.currentTime*fps)];}
                if(annot_status == 1){ annot[1][parseInt(video.currentTime*fps)] = chked_annotation;}
            }
            function annotation(event){
                annot_status = 1;
                annot_button.style = "float: left; width: 100%; height: 250px; font-size: 40px; background-color: red";
                annotation_update();
            }
            function annotation_end(event){
                annot_status = 0;
                annot_button.style = "float: left; width: 100%; height: 250px; font-size: 40px; background-color: default";
                annotation_update();
            }

            function annotation_save(){
                var save_annot = create2DArray(total_frame, 2);
                let csvContent = "data:text/csv;charset=utf-8,";
                
                for (i = 0; i <total_frame; i++){
                    save_annot[i][0] = i;
                    save_annot[i][1] = annot[1][i];
                }
                
                save_annot.forEach(function(rowArray) {
                    let row = rowArray.join(",");
                    csvContent += row + "\n";
                });
                var encodedUri = encodeURI(csvContent);
                var link = document.createElement("a");
                link.setAttribute("href", encodedUri);
                link.setAttribute("download", video_name+"_annotation.csv");
                document.body.appendChild(link);
                link.click();
            }

            //Load demo annotation file
            $.ajax({
                type: "GET",                
                url: "static/files/adult_6115.csv",
                dataType: "text",
                async : false,
                success: function(file){ annotation_load(file,true);}
            });

            function keyboard_down(event) {
                // e.preventDefault();
                if(event['key']==' '){
                    if(play_status==0) play_status = 1;
                    else play_status = 0;
                }
                if(event['key']=='ArrowRight'){
                    if(event.ctrlKey) video.currentTime += 1;
                    else video.currentTime += 1/fps;
                    if (annot_status) annotation();
                    update_video_slider();
                }
                if(event['key']=='ArrowLeft'){
                    if(event.ctrlKey) video.currentTime -= 1;
                    video.currentTime -= 1/fps;
                    if (annot_status) annotation();
                    update_video_slider();
                }
                if(event['key']=='g') annotation();
                if(event['key']=='1'){ chkbox(checkboxes[0]); annotation();}
                if(event['key']=='2'){ chkbox(checkboxes[1]); annotation();}
                if(event['key']=='3'){ chkbox(checkboxes[2]); annotation();}
                if(event['key']=='4'){ chkbox(checkboxes[3]); annotation();}
                if(event['key']=='5'){ chkbox(checkboxes[4]); annotation();}
                if(event['key']=='6'){ chkbox(checkboxes[5]); annotation();}
            
                // else if(event['key']=='7') chkbox(checkboxes[6]);
                annotation_update();
            }
            function keyboard_up(event){
                if(event['key']=='g'){ annotation_end();
                } else if(event['key']=='1'){ annotation_end();
                } else if(event['key']=='2'){ annotation_end();
                } else if(event['key']=='3'){ annotation_end();
                } else if(event['key']=='4'){ annotation_end();
                } else if(event['key']=='5'){ annotation_end();
                } else if(event['key']=='6'){ annotation_end();
                }
            }
            function annot_button_clicked(event){
                if(event.target.id=="annotation_button") annotation();
            }
            function annot_button_released(event){
                annotation_end();
            }
            function keyevent_prevention(){
                if(event['key']=='F5'){
                    var refresh_save = confirm("Do you want to save current annotation?");
                    if(refresh_save){
                        alert("File saved!");
                        return false;
                    }
                } else if(event.ctrlKey && event['key']=='s'){
                    annotation_save();
                    return false;
                } else if(event.ctrlKey && event['key']=='o'){
                    open_video_file();
                    return false;
                } else if(event.ctrlKey && event['key']=='l'){
                    open_annotation_file();
                    return false;
                }
            }
            document.onkeydown = keyevent_prevention;
            
            function update_video_slider(){
                document.getElementById('video_slider_range').value = parseInt(video.currentTime*fps).toString();
                document.getElementById('video_slider_value').textContent = parseInt(video.currentTime*fps).toString();
            }

            function shortcut_keys_popup(){
                window.open("shortcutkeys", "a", "width=300, height=350, left=50, top=50");
            }

            function reset_annotation(){
                var annot_reset_protect = confirm("Do you want to reset annotation file?");
                if(annot_reset_protect){
                    for (i = 0; i <total_frame; i++){
                        annot[1][i] = "na";
                    }
                }
            }

            //Mouse click annotation
            document.addEventListener("mousedown", function(e){ annot_button_clicked(e); });
            document.addEventListener("mouseup", function(e){ annot_button_released(e); });
            //Keyboard controller
            document.addEventListener("keydown", keyboard_down, false);
            // document.addEventListener("keypress", keyboard_press, false);
            document.addEventListener("keyup", keyboard_up, false);

            function check_file_update(){       
                if (annotation_flag == false){
                    var k=0;             
                    outer: for (var i = 0; i <= annot2.length; i=i+1){            
                        for (var j = 0; j < 2  ; j=j+1) {
                            annot[j][i] = 0;
                            annot[j][i] = annot2[k];
                            k++;
                            if (k>=((annot2.length)-1)) break outer;                                 
                        }
                    }
                    annotation_flag = true;
                }
            }

            // Streaming
            var interval;
            streaming();
            function streaming(){
                if(play_status == 1){
                    clearInterval(interval);
                    annotation_update();
                    update_video_slider();
                    check_file_update();
                    if(video_load_complete == 1){video.currentTime += 1/fps;}
                    interval = setInterval(streaming, 10000/fps/(play_speed));
                }
            }
        </script>
    </body>
</html>